{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button>Sign up</button>
    {{ form_end(form) }}
{% endblock %}
