{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for user in users %}
            <li>
                {{ user.nickname }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
