{% extends 'layout/account.html.twig' %}

{% block title %}Profile{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <div class="text-center py-3">
        <button class="btn btn-lg btn-primary" type="submit">Update</button>
    </div>
    {{ form_end(form) }}

{% endblock %}