{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ user.nickname }}</h1>
    <ul>
        {% for smelly_code in smelly_codes %}
            <li>
                {{ smelly_code.name }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
