{% extends 'layout/page.html.twig' %}

{% block content %}
    <h1 class="mt-5">{{ user.nickname }}</h1>
    <ul>
        {% for smelly_code in smelly_codes %}
            <li>
                {{ smelly_code.name }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}